<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1> flight  - {{ flight.id }}</h1>
<ul>
    <li>origin city : {{ flight.origin.city }}</li>
    <li>destination city :{{ flight.destinations.city }}</li>
    <li> duration : {{ flight.durations }}</li>

</ul>
<h1> Passenger List </h1>
<ul>
    {% for  passenger in passengers %}
       <li> {{ passenger }}</li>
   {% endfor %}
</ul>
 <form action="{% url 'flight-book' flight.id %}" method="post">
     {% csrf_token %}
     <select name="npassenger" id="">
         {% for passenger in non_passenger %}
             <option value="{{ passenger.id }}">{{ passenger }}</option>
         {% endfor %}
     </select>
     <input type="submit" value="book">
 </form>

 <a href="{% url 'flight_home' %}" class="btn btn-outline-info"> home  </a>
{% comment %}<table class="table table-dark">
    <thead>
        <tr>
            <th>id</th>
            <th>origin city</th>
            <th> destination city</th>
            <th> durations</th>
        </tr>
    </thead>
    <tbody>

    {% for flight in flights %}
     <tr>
        <td>{{ flight.id }}</td>
        <td>{{ flight.origin.city }}</td>
        <td>{{ flight.destinations.city }}</td>
        <td>{{ flight.durations }}</td>
     </tr>
     {% endfor %}

    </tbody>

</table>{% endcomment %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>